<nav class="navbar navbarone sticky-top bg-white">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img class="logo" src="assets/images/wbnlu-logo.svg" alt="logoImg" />
    </a>

    <div class="navLinks">
      <ul class="nav justify-content-center">
        <li class="nav-item me-3">
          <a
            class="nav-link"
            [routerLink]="['/skills']"
            routerLinkActive="active"
            >Skills Data</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/employee']"
            routerLinkActive="active"
            >Employee Data</a
          >
        </li>
        <li class="nav-item ms-3">
          <a
            class="nav-link"
            [routerLink]="['/skillCard']"
            routerLinkActive="active"
            >Clean UI</a
          >
        </li>
      </ul>
    </div>

    <div class="d-flex d-none d-sm-block">
      <span class="navName me-3">Nianlu</span>
      <span><i class="bi bi-building"></i></span>
      <span
        ><img
          class="avatar avatar-circle ms-4"
          src="assets/images/cropped-Logo-96x96.png"
          alt="nuacemLogo"
      /></span>
    </div>
  </div>
</nav>
