/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "node_modules/bootstrap-icons/font/bootstrap-icons.css";


@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@97.3,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



*{
    padding: 0;
    margin: 0;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Rubik, "Helvetica Neue", sans-serif; }


